In [28]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df.isnull().sum()>1

#Droping rows based on few Row values
df.dropna(subset = ['ID','Order_ID'],inplace = True)
df.dropna(how = all)

# Filling Missing Values in a column values.
df['Price'].fillna(method = 'ffill',inplace =True)
df['Quantity'] = df['Quantity'].fillna(0)
df['quantity'].fillna(df['quantity'].median(), inplace= True)

In [ ]:
df.sort_values(by='ID', ascending=False).drop_duplicates(keep='first')

In [ ]:
# Removing Duplicates

df.drop_duplicates(inplace = True) #Keeps first Occurance.

df.drop_duplicates(keep = last , inplace =True) # Keeps Last Occurance.

df.drop_duplicates(subset = ['ID','Order_id'], inplace= True) # Based on specific column.

df.drop_duplicates(keep=False, inplace= True) # Removes all duplicate values.

In [ ]:
# Converting data types

df['ID'] = pd.to_numeric(df['ID'])

df['ID']  = df['ID'].astype(int)
df['ID'] = df['ID'].fillna(0).astype(int)

df['ID']  = df['ID'].astype(float)

df['ID']  = df['ID'].astype(str)

df['date'] = pd.to_datetime(df['date'])

df['date'] = pd.to_datetime(df['date'],format = '%d-%m-%y')

df['gender'] = df['gender'].astype('category')

df = df.astype({'col1': 'int', 'col2': 'float', 'col3': 'category'})

df.index = df.index.astype(int)
df.index = pd.to_datetime(df.index)

In [ ]:
df['category'] = df['category'].str.lower().str.strip()

df['city_2'] = df['City'].str.split(' ').str[0]

all_data['Month'] = all_data['Order Date'].str[0:2]

In [ ]:
pivot_df = df.pivot(index='report_date', columns='product', values='sales')

melt_df = pd.melt(df, id_vars=['report_date'], value_vars=['A_sales', 'B_sales'], var_name='product', value_name='sales')

In [ ]:
df['rank'] = df['Score'].rank(ascending=False)

df['dense_rank'] = df['Score'].rank(method='dense', ascending=False)

df['rank_within_category'] = df.groupby('Category')['Score'].rank(ascending=False)

df['rank_within_partition'] = df.groupby(['Category', 'Region'])['Score'].rank(method = 'dense', ascending=False)

df['row_number'] = range(1, len(df) + 1)

df['row_number'] = df.groupby(['Category', 'Region']).cumcount() + 1

df['row_number'] = df.groupby(['Category', 'Region'])['Score'].rank(method='first', ascending=False).astype(int)

df['lag_sales_by_id'] = df.groupby('ID')['Sales'].shift(1)  # LAG within groups

df['lead_sales_by_id'] = df.groupby('ID')['Sales'].shift(-1)  # LEAD within groups

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('EXL').master("local[*]").getOrCreate()

In [ ]:
emp_final.write.format('csv').option('header', True).mode('overwrite').save('path/to/save')

df = saprk.read.format('csv').option('header', True).option(inferSchema, True).load('path/to/read')

In [ ]:
df = emp.select(col('emp_id'), emp.age, emp.salary)

df_caseted = emp.select(expr('employee_id' as emp_id), emp.name, expr("cast(age as int) as age"), emp.salary)

df = emp.select('emp_id', 'name', 'salary').where(col('age') > 30)

df = emp.select('emp_id', 'name', 'age', col('salary').cast('double'))

df = emp.withColumn('tax', col('salary')*0.2)

df = emp.withColumnRenamed('employee_id', 'emp_id')

df = emp.drop('column_2')

df = emp.withColumn('new_gender', when(col('gender') == 'Male', 'M'). when(col('gender')=='Female', 'F').otherwise('None'))

df = emp.withCoulmn('hire_date', to_date(col('hire_date'), 'yyyy-mm-dd'))

df = emp.na.drop()

from pyspark.sql.functions import coalesce, lit

df = emp.withColumn('new_gender', coalesce('new_gender', lit(0)))

df = emp_1.union(emp_2)

df = emp.orderBy(col('salary').desc())

df = emp.select('dept_id').distinct()

In [ ]:
emp_count = emp.groupBy('dept_name').agg(count('emp_id').alias('total_dept_count')).orderBy(col('total_dept_count').desc())

emp_avg = emp.groupBy('dept_id').agg(avg('salary').alias('avg_dept_salary')).where(col('avg_dept_salary') > 5000)

In [11]:
import pandas as pd
data = {
    'salesperson_id': [1, 2, 3, 4, 5, 6],
    'region': ['North', 'North', 'South', 'South', 'North', 'South'],
    'sales_amount': [500, 700, 300, 800, 600, 200]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Add a rank column, partitioned by 'region' and ordered by 'sales_amount'
df['rank'] = df.groupby('region')['sales_amount'].rank(method='dense', ascending=False)
gr_df = df.groupby('salesperson_id')['sales_amount'].sum()

print(gr_df)

salesperson_id
1    500
2    700
3    300
4    800
5    600
6    200
Name: sales_amount, dtype: int64

In [15]:
import pandas as pd

df = pd.read_csv(r'D:\Download\bkash_sub_mgr.csv')

grouped_df = df.groupby(['month','service_keyword'])['count'].sum()

grouped_df

month    service_keyword
01-2024  CA_22TK_1W               4
         CA_22TK_1W_N             8
         CONTEST_22TK_1WK      4609
         CONTEST_22TK_1WK_N     398
         CONTEST_35TK_1WK        85
                               ...
12-2023  MM_CONTEST_15TK_1W      33
         OM_GAMES_M               7
         OM_SPORTS_19TK_1M        4
         RADIOG_20TK_1M           4
         SSK_199TK_1M             3
Name: count, Length: 171, dtype: int64

In [15]:
def splitArray(s):

    s = sorted(s, reverse= True)
    
    input_array = s
    sum_of_array = sum(s)/2
    output_array = []

    for i in s:
        if sum(output_array) + i <= sum_of_array:
            output_array.append(i)
            input_array.remove(i)

    return output_array,input_array


s = [3,4,8,9,10,7,1,1]
result = splitArray(s)
print(result)

([10, 8, 3], [9, 7, 4, 1, 1])

In [10]:
def maxHour(s):

    input_array = list(s)
    max_hour = ['2','3','5','9']
    output_array = []

    for i in range(4):
        possible_digits = [digit for digit in input_array if digit <= max_hour[i]]

        if i == 2 and '2' not in input_array:
            possible_digits = [digit for digit in input_array if digit <= '9']
        
        max_num = max(possible_digits)
        output_array.append(max_num)
        input_array.remove(max_num)

    return output_array

s = '8931'
result = maxHour(s)
print(f"Max Hour :{output_array[:2]}:{output_array[2:]")

NameError: name 'output_array' is not defined

In [2]:
def compressString(s):

    output_list = []
    count = 1

    for i in range(1,len(s)):
        if s[i-1] == s[i]:
            count += 1

        else:
            output_list.append(s[i-1]+str(count))
            count = 1

    output_list.append(s[-1]+str(count))

    return''.join(output_list)

s= 'aabbbcsddddd'
result = compressString(s)
print(result)

a2b3c1s1d5

In [7]:
def maxHour(s):

    max_hour = ['2','3','5','9']
    input_array = list(s)
    output_list = []

    for i in range(4):

        possible_digits = [digit for digit in input_array if digit<=max_hour[i]]

        if i == 1 and '2' not in input_array:
            possible_digits = [digit for digit in input_array if digit <='9']

        max_num = max(possible_digits)
        output_list.append(max_num)
        input_array.remove(max_num)

    return''.join(output_list)

s = '3119'
result = maxHour(s)
print(result)

1931

In [8]:
s = [1,2,3,4,6,7,8,9]

reversed_list = s[::-1]
print(reversed_list)

[9, 8, 7, 6, 4, 3, 2, 1]

In [13]:
def maxCount(s):

    output_dict = {}
    for num in s:
        if num in output_dict:
            output_dict[num] += 1

        else:
            output_dict[num] = 1

    return output_dict

s = [1,1,1,1,2,3,3,4,4,4,4,4,5,5,5,5,5,5,5]
result = maxCount(s)
print(result)

{1: 4, 2: 1, 3: 2, 4: 5, 5: 7}

In [12]:
def maxCount(s):
    output_dict = {}  # Dictionary to count occurrences
    for num in s:
        if num in output_dict:  # Check if num is already a key
            output_dict[num] += 1
        else:
            output_dict[num] = 1  # Initialize count

    max_count = max(output_dict.values())  # Find max frequency
    max_elements = [key for key, value in output_dict.items() if value == max_count]

    return max_elements  # Return elements with highest frequency

s = [1, 1, 1, 1, 2, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5]
result = maxCount(s)
print(result)  # Output: [5] (since 5 appears the most times)

[5]

In [18]:
def splitArray(s):

    s.sort(reverse = True)

    split_array_1 = []
    split_array_2 = []
    for num in s:
        if sum(split_array_1) + num <= sum(s)/2:
            split_array_1.append(num)

        else:
            split_array_2.append(num)

    return split_array_1 , split_array_2

s = [2,3,4,5,6,1,1,1,1]
result = splitArray(s)
print(result)

([6, 5, 1], [4, 3, 2, 1, 1, 1])

In [20]:
s = [('shivaraj',5000),('Praveen',10000),('Sudeep',7000),('shivaraj',3000),('Praveen',2000)]

output_dict = {}
for key , value in s:
    if key in output_dict:
        output_dict[key] += value

    else:
        output_dict[key] = value

print(output_dict)

{'shivaraj': 8000, 'Praveen': 12000, 'Sudeep': 7000}

In [27]:
max_value = max(output_dict.values())

for key , value in output_dict.items():

    if value == max_value :
        print(key,value)

Praveen 12000

In [35]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
n = 1 

for i in nested_list:
    i.remove(i[n])

nested_list

[[1, 3], [4, 6], [7, 9]]

In [36]:
nested_list = [[1, 2], [3, 4], [5, 6]] 
flatend_list = []

for i in nested_list:
    for j in i:
        flatend_list.append(j)

flatend_list

[1, 2, 3, 4, 5, 6]

In [63]:
nested_list = [1, 2, 3, ['a', 'b', ['c', 'a', 'e', ['f', 'd', 'a']]]]
flatened_list = []
nest_4 = nested_list[3][2][3]
nest_3 = nested_list[3][2][0:3]
nest_2 = nested_list[3][0:2]
nest_1 = nested_list[0:3]

for lst in [nest_1,nest_2,nest_3,nest_4]:
    for item in lst:
        flatened_list.append(item)

flatened_list

[1, 2, 3, 'a', 'b', 'c', 'a', 'e', 'f', 'd', 'a']

In [72]:
def findPrime(s):
    primes = []
    if s < 2:
        return False

    for num in range(2,s+1):
        if num % 2 != 0:
            primes.append(num)
    return primes

s = 20
result = findPrime(s)
print(result)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [79]:
def checkPrime(s):

    if s % 2 == 0 and s > 1:
        return False

    else:
        return True

s = 19
print(checkPrime(s))

True

In [2]:
def get_first_nonrepeat_char(s):

    char_count = {}

    for char in s:
        char_count[char] = char_count.get(char,0) + 1

    for char in s:
        if char_count[char] == 1:
            return char

    return None

s = 'swiss'
print(get_first_nonrepeat_char(s))

w

In [90]:
def reveseInterger(s):

    reversed_interger = str(s)[::-1]

    return reversed_interger

s = 12345
print(reveseInterger(s))

54321

In [7]:
def reverseWords(s):
    
    return' '.join(s.split()[::-1])
    

s = "Hello World" 
print(reverseWords(s))

World Hello

In [12]:
def fibonacci(n):

    sequence = []
    a, b = 0, 1
    for _ in range(n):
        sequence.append(a)

        a, b = b, a+b

    return sequence

n = 10
print(fibonacci(n))

34